<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
  th:replace="~{layout/base :: layout(~{::title}, ~{::link}, ~{::body/content()})}"
>
<head>
  <title>管理者新規作成</title>
  <link />
</head>
<body>
  <div class="pcoded-content">
    <!-- Page-header start -->
    <div class="page-header">
      <div class="page-block">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title">
              <h2 class="mt-2">管理者新規作成</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page-header end -->
    <div class="pcoded-inner-content">
      <!-- Main-body start -->
      <div class="main-body">
        <div class="page-wrapper">
          <!-- Page body start -->
          <div class="page-body">
            <!-- message -->
            <div th:replace="~{fragments :: message}"></div>
            <div class="row">
              <div class="col-sm-12">
                <!-- Basic Form Inputs card start -->
                <div class="card">
                  <div class="card-header">
                      <h4>新規作成</h4>
                  </div>
                  <div class="card-block">
                    <form th:action="@{/users/save}" method="post" th:object="${user}">
                      <div class="form-group row">
                        <label class="col-sm-2 col-form-label">メールアドレス</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" placeholder="メールアドレス" th:field="*{email}">
                            <span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error</span>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-2 col-form-label">名前</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="名前" th:field="*{name}">
                            <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</span>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-2 col-form-label">パスワード</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" placeholder="パスワード" th:field="*{password}">
                            <span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</span>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-2 col-form-label">ロール</label>
                        <div class="col-sm-10">
                          <div th:each="role : ${listRoles}">
                            <input class="m-2" type="checkbox" th:field="*{roles}" th:text="${role.name}" th:value="${role.id}">
                            - <small th:text="${role.description}"></small>
                          </div>
                          <span class="text-danger" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}">Error</span>
                        </div>
                      </div>
                      <div class="btn-toolbar">
                        <div class="ml-2">
                          <a class="btn btn-secondary waves-effect waves-light" th:href="@{/home}">戻る</a>
                        </div>
                        <div class="ml-auto mr-2">
                          <button class="btn btn-primary waves-effect waves-light">登録</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <!-- Basic Form Inputs card end -->
              </div>
            </div>
          </div>
          <!-- Page body end -->
        </div>
      </div>
      <!-- Main-body end -->
    </div>
  </div>
</body>
</html>
