<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
  th:replace="~{layout/base :: layout(~{::title}, ~{::link}, ~{::body/content()})}"
>
<head>
  <title>ホーム画面</title>
  <link />
</head>
<body>
  <div class="pcoded-content">
    <!-- Page-header start -->
    <div class="page-header">
      <div class="page-block">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title">
              <h2 class="mt-2">ホーム画面</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page-header end -->
  </div>
</body>
</html>